.hc-left, .hc-right{
    width: calc(25% - 5px);
}
.hc-left{
    position: relative;
}

.hcl-cw{
    padding-left: 10px;
}
.profile-wrapper .hcl-cw{
    position: fixed;
    left: 0;
    z-index: 1;
    width: 60px;
    background-color: #fff;
    border: 1px solid #0000001c;
    top: 60px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: unset;
}
.profile-wrapper .hcl-cw span{
    display: none;
}
.max{
    background-color: transparent;
}

.hc-left svg {
    font-size: 20px;
    color: #00d4ff;
}
@media screen and (max-width: 992px) {
    .hcl-cw{
        padding-left: unset;
    }
    .hc-left.max{
        width: 60px;
    }
    .hcl-cw {
        position: fixed;
        left: 0;
        z-index: 1;
        width: 60px;
        background-color: #fff;
        border: 1px solid #0000001c;
        top: 60px;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hcl-cw span{
        display: none;
    }
  }
